@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bg-black-main: #18181b;
    --bg-black-hover: #556a74;
    --bg-black-secondary: #282a2d;
    --bg-black-tertiary: #282a2e;
    --text-color-black: #000;
    --text-color-gray: #999;
    --color-blue: #01579b;
    --color-blue-hover: #156baf;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-main);
    display: block;
    opacity: 1;
    position: fixed;
    left: 6rem;
    top: 2.7rem;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.section.back-section {
    z-index: 1;
}

.hidden {
    display: none;
}


/**** NAVBAR SECTION ****/
.navbar {
    height: 2.75rem;
    background: var(--color-blue);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--bg-black-main);
    padding: 5px;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
}

.navbar .section-title {
    position: fixed;
    font-size: 1.50rem;
    font-weight: 200;
    left: 7rem;
    color: var(--color-white);
}

.navbar .nav-top {
    display: flex;
    position: fixed;
    top: 0;
    right: 1rem;
}

.navbar li {
    padding: 0.6rem;
}


.navbar li:hover {
    background: var(--color-blue-hover);
}

.navbar li a {
    color: var(--color-white);
}

.navbar li a span {
    font-weight: 200;
}


/**** SIDE-BAR SECTION ****/
.side-bar {
    width: 6rem;
    background: var(--bg-black-secondary);
    position: fixed;
    height: 100%;
    border-right: 1px solid var(--bg-black-main);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

/**** IMAGE IS FOR LOGO TESTING ****/
.side-bar .logo {
    position: fixed;
    top: 3.5rem;
}

.side-bar .logo img {
    width: 4rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.side-bar .nav-side {
    position: fixed;
    top: 7rem;
    align-items: center;
    text-align: center;
}

.side-bar li {
    padding: 0.4rem;
}

.side-bar li:hover {
    background: var(--bg-black-hover);
}

.side-bar li a {
    display: grid;
    grid-template-rows: auto auto;
    color: var(--color-white);
    position: relative;
}

.side-bar li a i {
    line-height: 2rem;
}

.side-bar li a span {
    font-weight: 200;
}

/**** HOME SECTION ****/
.home {
    z-index: 2;
    padding: 1rem 0 0 1rem;
    max-height: fit-content;
    width: 80%;
}

.navbar-home .nav-home {
    display: flex;
    gap: 1rem;
    border-bottom: 0.1rem solid var(--bg-black-hover);
    height: 2.3rem;
    margin: 0 0 -1.4rem 0;
}

.nav-home li a{
    color: var(--text-color-gray);
    font-weight: 200;
    position: relative;
    transition: all 0.3s ease;
}

.nav-home li a::after {
    content: '';
    height: 0.25rem;
    width: 100%;
    background: var(--color-blue);
    position: absolute;
    display: block;
    left: 0;
    bottom: -0.9rem;
    opacity: 0;
}

.nav-home li a:hover {
    color: var(--color-white);
}

.nav-home li a.active {
    color: var(--color-white);
    transition: all 0.3s ease;
}

.nav-home li a.active::after {
    opacity: 1;
    transition: all 0.3s ease;
}

/**** DASHBOARD SECTION ****/
.dashboard {
    padding: 1rem;
    /* TESTING PURPOSES */
    background-color: red;
}


/**** NEWS SECTION ****/
.news {
    padding: 1rem;
    /* TESTING PURPOSES */
    background-color: blue;
}